{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<div class="page_body">
{% include '../general/header.html' %}

<div class="card-group">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 bg-white">
          <li class="breadcrumb-item">
            <a>Employee Form</a>
          </li>
          <li class="breadcrumb-item">
            <a>
              <b>Employee Form</b>
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card rounded-t-s">
        <div class="card-header bg-transparent pt-0">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h5 class="card-title font-bold">Employee Form</h5>
            </div>
           
          </div> 
        </div>
        
        <form method="post">{% csrf_token %}
            <div class="card-body">
                <div class="page-form">
                
                    <div class="page-body">
                    
                        <div class="row">
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>First Name</label>
                                    <input type="text"  class="form-control"  name="first_name" maxlength="100" required >
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control"   name="last_name"  maxlength="100" >
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>Employee Code</label>
                                    <input type="text"  class="form-control"  name="employee_code" maxlength="100" required >
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>Email</label>
                                    <input type="email" class="form-control"  name="email" maxlength="100" required >
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>Mobile Number</label>
                                    <input type="number" class="form-control"  name="mobile_no"  maxlength="100" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-md-6 text-right m-t-50">
                              <button class="m-r-5 primary-btn btn-primary" style="float:right">
                                <b>Save and Next</b>
                              </button>
                             
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


</div><!-- page_body -->
{% endblock %}
{%block javascript%}

<script>
 
</script>
{% endblock%}