{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<div class="page_body">
{% include '../general/header.html' %}

<div class="card-group">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 bg-white">
          <li class="breadcrumb-item">
            <a>Employee History</a>
          </li>
          <li class="breadcrumb-item">
            <a>
              <b>Employee History</b>
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card rounded-t-s">
        <div class="card-header bg-transparent pt-0">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h5 class="card-title font-bold">Employee History</h5>
            </div>
           
          </div> 
        </div>
        <div class="card-sub-header mt-15">
          <div class="row">
           
           
          </div>
        </div>
        <div class="card-body">
          <div class="table-default bg-tr-even">
            <div class="table-responsive print_data">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th class="xs-tcol">#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Employee Code</th>
                    <th></th>

                  </tr>
                </thead>
                <tbody>    
                    {%for i in employee%} 
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.first_name|default_if_none:""}}</td>
                        <td>{{i.last_name|default_if_none:""}}</td>
                        <td>{{i.email|default_if_none:""}}</td>
                        <td>{{i.mobile_no|default_if_none:""}}</td>
                        <td>{{i.employee_code|default_if_none:""}}</td>
                        <td class="d-print-none">
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'general/images/icons/light-grey-ellipsis-h.png' %}">
                                </button>
                                <ul class="dropdown-menu">
                               
                                    <li>
                                        <a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#modal_view{{forloop.counter}}">View</a>
                                    </li>

                                    <li>
                                        <button data-class="{{i.id}}" type="button" class="dropdown-item text-danger swal_btn_delete" >Delete</button>
                                    </li>

                                    <li>
                                        <a class="dropdown-item EDITBTN" data-id="{{i.id|default_if_none:""}}" data-code="{{i.employee_code|default_if_none:""}}" data-salary="{{i.current_salary|default_if_none:""}}"  data-mobile_no="{{i.mobile_no|default_if_none:""}}" data-email="{{i.email|default_if_none:""}}" data-last="{{i.last_name|default_if_none:""}}" data-first="{{i.first_name|default_if_none:""}}" >Edit</a>
                                    </li>
                               
                                </ul>
                            </div>
                        </td>

                    </tr>


                    <div class="offcanvas offcanvas-end" tabindex="-1" id="modal_view{{forloop.counter}}">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title font-bold">View Details</h5>
                        <button type="button" class="btn-icon btn-offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">
                          <img src="{% static 'general/images/icons/arrow-right.png' %}">
                        </button>
                      </div>  
                      <div class="offcanvas-body">
                        <div class="offcanvas-inner-body">
                          <div class="form-default">
                            <div class="form-body">
                              <div class="row">
                                  <div class="col-6">
                                      <label class="form-label">First Name</label>
                                      <input type="text" readonly value="{{i.first_name|default_if_none:""}}" class="form-control" >
                                  </div>
                                  <div class="col-6">
                                      <label class="form-label">Last Name</label>
                                      <input type="text" readonly value="{{i.last_name|default_if_none:""}}" class="form-control" >
                                  </div>
                                  <div class="col-6">
                                    <label class="form-label">Employee Code</label>
                                    <input type="text" readonly value="{{i.employee_code|default_if_none:""}}" class="form-control" >
                                </div>
                                  <div class="col-6">
                                    <label class="form-label">Email</label>
                                    <input type="text" readonly value="{{i.email|default_if_none:""}}" class="form-control" >
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Mobile Number</label>
                                    <input type="text" readonly value="{{i.mobile_no|default_if_none:""}}" class="form-control" >
                                </div>
                                <div class="col-6">
                                  <label class="form-label">Current Salary</label>
                                  <input type="text" readonly value="{{i.current_salary|default_if_none:""}}" class="form-control" >
                              </div>
                         
                          
                            </div>
                          </div>
                        </div>
                        <div class="offcanvas-footer text-center">
                          <button type="button" class="btn btn-secondary m-w-100-px me-15" data-bs-dismiss="offcanvas" aria-label="Close">Cancel</button>
                        </div>
                      </div>
                    </div>

                   
                    {%endfor%}
                </tbody>
              </table>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="modal_update">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title font-bold">Update</h5>
    <button type="button" class="btn-icon btn-offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <img src="{% static 'general/images/icons/arrow-right.png' %}">
    </button>
  </div>  
  <form method="post">{% csrf_token %}
      <div class="offcanvas-body">
        <div class="offcanvas-inner-body">
          <div class="form-default">
            <div class="form-body">
              <div class="row">
                  <div class="col-6">
                      <label class="form-label">First Name</label>
                      <input type="text" name="first_name" required class="form-control" >
                  </div>
                  <div class="col-6">
                      <label class="form-label">Last Name</label>
                      <input type="text"name="last_name" class="form-control" >
                  </div>
                  <div class="col-6">
                    <label class="form-label">Employee Code</label>
                    <input type="text" required name="employee_code" class="form-control" >
                </div>
                  <div class="col-6">
                    <label class="form-label">Email</label>
                    <input type="text" required name="email" class="form-control" >
                </div>
                <div class="col-6">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" required name="mobile_no" class="form-control" >
                </div>
                <div class="col-6">
                  <label class="form-label">Current Salary</label>
                  <input type="text" required name="current_salary" class="form-control" >
              </div>
        
          
            </div>
          </div>
        </div>
        <div class="offcanvas-footer text-center">
          <button  class="btn btn-primary m-w-100-px me-15">Update</button>
          <button type="button" class="btn btn-secondary m-w-100-px me-15" data-bs-dismiss="offcanvas" aria-label="Close">Cancel</button>
        </div>
      </div>
  </form>
</div>

</div><!-- page_body -->
{% endblock %}
{%block javascript%}

<script>
  window.current_url="{{request.get_full_path}}";
  window.current_url_encoded="{{request.get_full_path|urlencode}}";
  window.delete_url="{% url 'delete-employee' 0%}";

  $(".EDITBTN").on("click",function(){
    $('#modal_update form').attr('action',
    "{% url 'edit-employee' 0 %}".replace('0',$(this).data('id').toString())+"?return={{request.get_full_path|urlencode}}");
    $('#modal_update input[name="first_name"]').val($(this).data('first'));
    $('#modal_update input[name="last_name"]').val($(this).data('last'));
    $('#modal_update input[name="employee_code"]').val($(this).data('code'));
    $('#modal_update input[name="mobile_no"]').val($(this).data('mobile_no'));
    $('#modal_update input[name="email"]').val($(this).data('email'));
    $('#modal_update input[name="current_salary"]').val($(this).data('salary'));
    $('#modal_update').offcanvas('show');
  })
</script>
{% endblock%}