{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<div class="page_body">
{% include '../general/header.html' %}

<div class="card-group">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card rounded-t-s">
        <div class="card-header bg-transparent pt-0">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h5 class="card-title font-bold">Salary Form</h5>
            </div>
           
          </div> 
        </div>
        
        <form method="post">{% csrf_token %}
            <div class="card-body">
                <div class="page-form">
                
                    <div class="page-body">
                    
                        <div class="row">
                            
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>First Name</label>
                                    <input type="text"  class="form-control"  value="{{employee.first_name|default_if_none:""}}"  name="first_name" maxlength="100" readonly >
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control"   value="{{employee.last_name|default_if_none:""}}" name="last_name"  maxlength="100" readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>Employee Code</label>
                                    <input type="text"  class="form-control"  value="{{employee.employee_code|default_if_none:""}}" name="employee_code" maxlength="100" readonly >
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="page-col-f">
                                    <label>Current Salary</label>
                                    <input placeholder="Enter salary" type="number" step="0.01" class="form-control" required  name="current_salary"  maxlength="100" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-md-6 text-right m-t-50">
                              <button class="m-r-5 primary-btn btn-primary" style="float:right">
                                <b>Save</b>
                              </button>
                             
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


</div><!-- page_body -->
{% endblock %}
{%block javascript%}

<script>
 
</script>
{% endblock%}