{% load static %}
<!-- header -->
<header class="header">

<div class="row">
<!-- left -->
 <div class="col-lg-9 col-6 left">
   <a class="a-logo" href="{% url 'landing-page' %}">
	  <img src="">
   </a>

    <!-- sidebar-toggle -->
     <a data-toggle="body" class="sidebar-toggle sidebar_toggle d-none d-lg-block">
      <span></span>
	    <span></span>
	    <span></span>
	   </a>
     <a data-toggle="body" class="sidebar-toggle sidebar_toggle_mob d-lg-none">
      <span></span>
	    <span></span>
	    <span></span>
	   </a>
 </div>
         
 <!-- right -->
 <div class="col-lg-3 right col-6 text-end">
 <!-- user-profile-dropdown -->
   <div class="dropdown user-profile-dropdown">
    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="{% static 'general/images/icons/default-user-icon.png' %}">
      <div>{{request.user.username}}</div>
    </button>
   
  </div>
  <!-- /user-profile-dropdown -->
 </div>
 
 </div>
</header>
<!-- /header -->
<aside id="sidebar">
  <div class="sidebar-menu">
    <ul>
      <!-- sidebar-toggle -->
       <a data-toggle="body" class="sidebar-toggle sidebar_toggle_mob"></a>
       <li>
        <a href="{% url 'landing-page' %}" title="Employees">
         <div class="icon">
          <i class="fa fa-star-o" aria-hidden="true"></i>
         </div>
         <span>Employees Form</span>
        </a>
      </li>
        <li>
         <a href="{% url 'list-employee' %}" title="Employees">
          <div class="icon">
           <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <span>Employees</span>
         </a>
       </li>
       
    </ul>
  </div> 
  </aside>
 

   <div class="main-wrapper">
