{% load static %}
<!doctype html>
<html lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="shortcut icon" type="image/ico" href="">
   <meta property="og:image" content="{% static 'general/images/logo-og.png' %}">
   <meta property="og:description" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci laboriosam nostrum dolore corporis. Ipsam unde labore mollitia tempore dolorem magni, placeat, modi excepturi voluptates facilis ullam, similique temporibus hic eveniet?">
   <meta property="og:url" content="">
   <meta property="og:title" content="SAMPLE">
   <title>SAMPLE</title>
   <link href="{% static 'public/modules/preloader-section/preloader-section.css' %}?v=30/03/2021" rel="stylesheet" type="text/css" />
   <link href="{% static 'general/fonts/webfonts/airbnbcereal/font-airbnbcereal.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'public/fonts/webfonts/lnter/font-lnter.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'public/fonts/webfonts/abel/font-abel.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'general/fonts/fontawesome/v4.7/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'public/modules/aos/aos.css' %}?v=30/03/2021" rel="stylesheet" type="text/css" />
   <link href="{% static 'public/modules/animate/animate.min.css' %}?v=30/03/2021" rel="stylesheet" type="text/css" />
   <link href="{% static 'general/modules/slick-slider/slick.min.css' %}?v=30/03/2021" rel="stylesheet" type="text/css" />
   <link href="{% static 'general/modules/slick-slider/slick-theme.min.css' %}?v=30/03/2021" rel="stylesheet" type="text/css" />
   <link href="{% static 'general/modules/slick-slider/custom.css' %}?v=30/03/2021" rel="stylesheet" type="text/css" />
   <link href="{% static 'public/modules/lightbox/baguetteBox.min.css' %}?v=30/03/2021" rel="stylesheet" type="text/css" />
   <link href="{% static 'general/modules/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'general/css/custom.css' %}?v=21/07/2022" rel="stylesheet" type="text/css">
   <link href="{% static 'public/css/custom.css' %}?v=31/07/2022" rel="stylesheet" type="text/css">
   <!-- jquery -->
   <script src="{% static 'general/modules/jquery/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
  {% block style %}
  {% endblock %}
</head>
<body id="body" class="no-scroll-y">
    <div class="pre_loader pre-loader"></div><!-- pre-loader -->

     {% block content %}
     {% endblock %}

<!-- modal_show_file -->
<div class="modal fade remove_src modal-show-file" id="modal_show_file" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close remove_src" data-bs-dismiss="modal" aria-label="Close"></button>
        <embed id="file_src" class="h-80-vh w-100">   
      </div>
    </div>
  </div>
</div>
<!-- modal_show_file -->

<script>var csrf_header={'X-CSRFToken': '{{csrf_token}}'};</script>

  <!-- bootstrap5 -->
  <script src="{% static 'general/modules/bootstrap5/js/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'general/modules/bootstrap5/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <!-- preloader-section -->
  <script src="{% static 'public/modules/preloader-section/preloader-section.js' %}" type="text/javascript"></script>
  <!-- aos -->
  <script src="{% static 'public/modules/aos/aos.js' %}" type="text/javascript"></script>
  <!-- slick-slider -->
  <script src="{% static 'general/modules/slick-slider/slick.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'public/modules/slick-slider/custom.js' %}?v=07/07/2022" type="text/javascript"></script>
  <!-- lightbox -->
  <script src="{% static 'public/modules/lightbox/baguetteBox.min.js' %}" type="text/javascript"></script>
  <!-- wow -->
  <script src="{% static 'public/modules/animate/wow.min.js' %}?v=08/07/2022" type="text/javascript"></script>
  <!-- showmore -->
  <script src="{% static 'public/modules/showmore/jquery.collapser.js' %}?v=08/07/2022" type="text/javascript"></script>
  <!-- custom -->
  <script src="{% static 'general/js/custom.js' %}?v=20/10/2020" type="text/javascript"></script>
  <script src="{% static 'public/js/custom.js' %}?v=22/10/2020" type="text/javascript"></script>
  {% block javascript %}
  <script>
      $(".CATELOG-BTN").click(function(){
        $(this).find('form').trigger('reset');
        $('#modal_catalog').modal('hide')
      })
  </script>
  {% endblock %}   
  {% include 'general/common_messages.html' %}
</body>  
</html>