{% extends "./base.html" %}
{% block content %}
{% load static %}

 <div class="login_page">
  <div class="wrapper h-100-vh">
    <div class="row justify-content-center align-items-center h-100-vh">
      <div class="col-md-4">
        <div class="page-content"> 
          <form  method="GET" href="" >
            <div class="form-foot">
             <a class="btn btn-primary" type="button" href="/accounts/google/login/?process=login">Sign In</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>

{% endblock %}

{% block javascript %}
<script>

  }
</script>
{% endblock %}
